<!-- visualizations.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualizations</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Data Visualizations</h1>
    <img src="{% static 'current_sugar_pressure.png' %}" alt="Sugar and Pressure Levels">
    <img src="{% static 'predictions.png' %}" alt="Predictions and Recommendations">
</body>
</html>
